body{
	font-family: 'Open Sans', sans-serif !important;

}

.entry-content a{
	box-shadow: none !important;
}

.entry-content a:hover{
	color: #2268e2 !important;
	text-decoration: underline;
}

.no-link {
   cursor: default !important;
}

h2.entry-title{
		font-size: 2em !important;
}

.front-title > h2{
	background: #fff;
	padding: 20px 30px 20px 20px;
	display: inline-block;
}

.front-title-image > h1{
	background: #fff;
	padding: 20px 30px 20px 20px;
	display: inline-block;
}

@media screen and (max-width: 48em){
	h1.entry-title{
		font-size: 1.5em !important;
		margin-top: 20px;
	}
}

@media (max-width: 480px){
	.front-title{
		margin-bottom: 50px !important;
	}
}


@media screen and (min-width: 48em){
	.entry-header{
		width: 100% !important;
		margin-bottom: 60px;
		
	}	

	h1.entry-title{
		font-size: 2em !important;
	}



	.title-con{
		background: rgba(255,255,255,0.95);
		width: 50%;
		padding-left: 5%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 5%;
		top: -200px;
		position: relative;
		z-index: 2;		
	}

	.entry-content{
		width: 100% !important;
	}

	.single-featured-image-header{
		margin-top: -50px;
		margin-bottom: -120px !important;
		background: transparent !important;
		border: none !important;
		max-height: 400px;
		overflow: hidden;
	}

	.single-featured-image-header > img{
		float: left;
		margin-bottom: -120px !important;
		width: 100%;
		height: auto;
	}
}

p.dim{
	font-size: 0.8em;
}

/* mobile header */
@media screen and (max-width: 480px) {

    .has-header-image .custom-header-media img,
    .has-header-video .custom-header-media video, 
    .has-header-video .custom-header-media iframe, 
    .has-header-image:not(.twentyseventeen-front-page):not(.home) .custom-header-media img,
    .wp-custom-header > img {
        height: auto;
        left: 0;
        width: 1% !important;
        min-height: 0 !important;
        /*height: 10% !important;*/
        -o-object-fit: unset;
        object-fit: unset;
        position: absolute;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
        /*display: none;*/
        max-height: 220px !important;

    }

    .custom-header{
    	max-height: 160px;
    }
}




